<ion-header>
  <ion-toolbar>
    <ion-title>Créer votre compte</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card-header>Inscription</ion-card-header>
  <form  #form="ngForm" (ngSubmit)="register(form)">
          <div padding>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Nom" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="prenom" type="text" placeholder="prenom" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="votre email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="mot de passe" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button expand="block" shape="round" routerLink="/home" type="submit" [disabled]="form.invalid" color="success">Register</ion-button>
          </div>

  </form>
</ion-content>
